.idea
target
*.iml
*.log

/src/main/resources/static
/src/main/resources/webapp/node/
/src/main/resources/webapp/node_modules/
/src/main/resources/webapp/bower_components/

/src/main/resources/webapp/src/index.html
/src/main/resources/webapp/src/styles/**/*.css
/src/main/resources/webapp/src/scripts/templates.js