.idea
target
*.iml
*.log

src/main/resources/static
src/main/resources/webapp/node_modules/
src/main/resources/webapp/bower_components/
src/main/resources/webapp/.sass-cache/
src/main/resources/webapp/.tmp/
src/main/resources/webapp/src/debug.html
