md-toolbar {
  width: initial;
}

@media (min-width: 960px) {
  .md-padding {
    padding: 8px;
  }
}

.md-select-menu-container {
  background: whitesmoke;
}

md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected] {
  background: #dadada;
}