<div class="boo__start-filter-container" layout="row" layout-xs="column" layout-align="center center" ng-cloak>
    <md-input-container>
        <label>City</label>
        <i class="material-icons">place</i>
        <md-select style="display: inline-block" ng-model="city" md-on-open="loadCities()">
            <md-option ng-repeat="city in cities" ng-value="city">{{city.name}}</md-option>
        </md-select>
    </md-input-container>
    <md-datepicker ng-model="checkinDate" md-placeholder="Enter check in date"
                   md-max-date="checkoutDate"></md-datepicker>
    <md-datepicker ng-model="checkoutDate" md-placeholder="Enter check out date"
                   md-min-date="checkinDate"></md-datepicker>
    <md-input-container>
        <label>Rooms</label>
        <i class="material-icons">hotel</i>
        <md-select ng-model="room">
            <md-option ng-repeat="room in rooms" value="{{room}}">{{room}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Adults</label>
        <i class="material-icons"><i class="material-icons">supervisor_account</i></i>
        <md-select ng-model="adult">
            <md-option ng-repeat="adult in adults" value="{{adult}}">{{adult}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Chidren</label>
        <i class="material-icons">child_friendly</i>
        <md-select ng-model="child">
            <md-option ng-repeat="child in children" value="{{child}}">{{child}}</md-option>
        </md-select>
    </md-input-container>
</div>

<md-grid-list class="boo__start-hotel-list"
              md-cols="1" md-cols-sm="2" md-cols-md="5" md-cols-lg="7" md-cols-gt-lg="10"
              md-row-height-gt-md="1:1" md-row-height="4:3"
              md-gutter="20px" md-gutter-gt-sm="20px">
    <md-grid-tile class="hvr-glow hvr-grow" ng-repeat="tile in tiles"
                  md-rowspan="{{tile.rowspan}}"
                  md-colspan="{{tile.colspan}}"
                  md-colspan-sm="{{tile.colspan > 2 ? 2 :1}}"
                  md-colspan-xs="1"
                  md-rowspan-xs="1"
                  ng-style="{'background-image':'url('+tile.hotel.photos[0].url+')'}"
                  ng-click="goToHotel(tile.hotel)">

        <md-grid-tile-header>
            <h3>{{tile.hotel.name}}</h3>
            <div class="boo_start-hotel-stars">
                <i ng-repeat="n in range(tile.hotel.stars)" class="material-icons">grade</i>
            </div>
        </md-grid-tile-header>
    </md-grid-tile>
</md-grid-list>