<!-- TODO: Add validations -->
<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
        <label>Username</label>
        <input ng-model="vm.user.title">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="vm.user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding">
    <div layout layout-sm="column">
        <md-input-container flex="80">
            <label>Company (Disabled)</label>
            <input ng-model="vm.user.company" disabled>
        </md-input-container>
        <md-input-container flex>
            <label>Submission Date</label>
            <input type="date" ng-model="vm.user.submissionDate">
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>First Name</label>
            <input ng-model="vm.user.firstName"
                   placeholder="First Name">
        </md-input-container>
        <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="vm.user.lastName">
        </md-input-container>
    </div>
    <div layout>
        <md-input-container flex>
            <label>Address</label>
            <input ng-model="vm.user.address">
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>City</label>
            <input ng-model="vm.user.city">
        </md-input-container>
        <md-input-container flex>
            <label>State</label>
            <input ng-model="user.state">
        </md-input-container>
        <md-input-container flex>
            <label>Postal Code</label>
            <input ng-model="vm.user.postalCode">
        </md-input-container>
    </div>
    <div layout>
        <md-input-container flex>
            <label>About us</label>
            <textarea ng-model="vm.user.biography" columns="1"
                      md-maxlength="150"></textarea>
        </md-input-container>
    </div>
</md-content>
<md-content class="md-padding">
    <md-input-container flex>
        <label>Photo</label>
        <button ngf-select ng-model="picFile" accept="image/*">
            Select Picture
        </button>
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
             class="cropArea">
            <img-crop image="picFile  | ngfDataUrl" area-type="square"
                      result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>
        </div>
        <div>
            <img ng-src="{{croppedDataUrl}}"/>
        </div>
        <button ng-click="upload('HOTEL', croppedDataUrl)">Submit</button>

        <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
        <span ng-show="result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </md-input-container>
</md-content>
